<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="blomaAdminLogin">
	<test name="Bloma Admin Login">
		<parameter name="Browser" value="Chrome">
			<classes>
				<class name="com.finablr.admin.testcases.LoginPageCases" />
				 <!-- <class name="com.finablr.admin.testcases.TransactionListingCases" />
				<class name="com.finablr.admin.testcases.ViewTransactionCases" /> 
				<class name="com.finablr.admin.testcases.CategoryListingCases" />
				<class name="com.finablr.admin.testcases.ViewCategoryCases" />
				<class name="com.finablr.admin.testcases.AddCategoryCases" />
				<class name="com.finablr.admin.testcases.TemplateListingCases" />
				<class name="com.finablr.admin.testcases.ViewTemplateCases" />
				<class name="com.finablr.admin.testcases.AddHelpServicesCases" />
				<class name="com.finablr.admin.testcases.DeleteHelpServicesCases" />
				<class name="com.finablr.admin.testcases.AddIceBreakerCases" />
				<class name="com.finablr.admin.testcases.BlogListingCases" />
				<class name="com.finablr.admin.testcases.ViewBlogCases" />
				<class name="com.finablr.admin.testcases.AddBlogCases" />
				<class name="com.finablr.admin.testcases.IllustrationListingCases" />
				<class name="com.finablr.admin.testcases.AddIllustrationCases" />
				<class name="com.finablr.admin.testcases.AddCountryServiceCases" />
				<class name="com.finablr.admin.testcases.AddServiceProviderCases" />-->
				<class name="com.finablr.admin.testcases.SubAdminListingCases" />
				<class name="com.finablr.admin.testcases.ViewSubAdminCases" />
				<class name="com.finablr.admin.testcases.AppUserListingCases" />
			</classes>
		</parameter>
	</test>
</suite> 

